@import '../../../../vars';

.popup {
  position: absolute;
  top: 100px;
  left: calc(50vw - 150px);
  width: 300px;
  padding: 10px;
  @include borders;
  border-color: $error-color;
  background-color: $error-color;
  color: $main-bg-color;
  text-align: center;
  letter-spacing: 0.05em;
  font-family: $font-text;
  line-height: 1.5;
  
}