@import '../../../../vars';
.queryToolbar {
  grid-area: query-toolbar;

  &__editor {
    @include borders;
    padding: 5px;
    height: 180px;
    overflow-y: auto;
    scroll-behavior: smooth;
    &::placeholder {
      color: red;
    }
  }
}
