@import '../../../../vars';

.doc {
  grid-area: doc;
  height: calc(100vh - 135px);
  @include borders;
  padding: 10px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

  .heading {
    width: 100%;
    line-height: 40px;
    text-align: center;
    font-family: $font-heading;
  }

 .data {
    font-size: 1em;
  }
