@import '../../../../vars';

.editor {
  @include borders;
  grid-area: editor;
  padding: 10px;
  height: calc(100vh - 200px);

  display: grid;
  grid-template-areas:
    'query-editor viewer'
    'query-toolbar viewer';
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 200px;
  column-gap: 20px;
}
