.editor {
  grid-area: editor;
  border: 1px solid black;
  padding: 10px;
  height: 80vh; // calc (100vh - header- footer)

  display: grid;
  grid-template-areas:
    'query-editor viewer'
    'query-toolbar viewer';
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 200px;
  column-gap: 20px;
}
