@import '../../vars';

.welcomePage {
  padding: 25px;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  background-color: $main-bg-color;
  color: $font-color;
  font-family: $font-text;
}

  .links {
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 20px;
    font-weight: bolder;
  }

  .content {
    padding: 20px;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    font-size: 18px;
    line-height: 35px;
    text-align: justify;
  }

  .list {
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 15px;
  }

  .listItem {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .gh_icon {
    width: fit-content;
    height: 25px;
  }
  .heading {
    font-family: $font-heading;
    font-size: 1.5em;
    margin-bottom: 15px;
    text-decoration: underline;
    text-align: center;
  }
