.welcomePage {
    padding: 25px;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;


    ul {
        display: flex;
        flex-direction: column;
        width: fit-content;
        gap: 15px;

        li {
            text-align: left;
        }
    }
}

.welcomePage_links {
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 20px;
    font-weight: bolder;
}

.welcomePage_content {
    padding: 20px;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    font-size: 18px;
    line-height: 35px;
}