@import '../../../../vars';

.endpoint {
  grid-area: endpoint;
  width: 500px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

  .input {
    width: 85%;
    height: 100%;
    padding: 0 10px;
    color: $font-color;
    font-family: $font-text;
    @include borders;
    &::placeholder {
      color: $font-color;
      font-family: $font-heading;
      opacity: 0.9;
     }
    &:focus {
      outline: none;
      @include borders;
      border-width: 2px;
    } 

  }

